/*body{
    background: blue;
}*/

body{
    font-variant: helvetica;
    font-size: 250%;
    background: yellow;
}

.question5{
    border-style: solid;
    padding: 15%;
    margin: 15%;
    background-color: red;
    font-style: italic;
}