/*body{
    background: blue;
}*/

body{
    font-variant: helvetica;
    font-size: 150%;
    background: yellow;
}

.question5{
    border-style: solid;
    padding: 10px;
    margin: 10px;
    background-color: red;
    font-style: italic;
}

